!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en-us', :lang => 'en-us' }
  %head
    %title Siphon
    %meta{ 'http-equiv' => "content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/960.css', :media => 'screen', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/master.css', :media => 'screen', :charset => 'utf-8' }
    %script{ :src => "/javascripts/jquery.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/javascripts/siphon.js", :type => "text/javascript", :charset => "utf-8" }
    
    
    :javascript
      $(document).ready(function() {
        Siphon.load("new")
        Siphon.bindKeys()
        
        $('.show_new').click(function() { Siphon.load('new'); return false})
        $('.show_accepted').click(function() { Siphon.load('accepted'); return false})
        $('.show_rejected').click(function() { Siphon.load('rejected'); return false})
      })
    
  %body
    .container_12
      #header.grid_12
        %h1 Siphon
        %h2.menu
          %span#count 0
          questions shown |
          %a.show_new{:href => "#"} new
          |
          %span#accepted_count= @accepted.length
          %a.show_accepted{:href => "#"} accepted
          |
          %span#rejected_count= @rejected.length
          %a.show_rejected{:href => "#"} rejected
      #content.grid_12
        %ul#items