!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en-us', :lang => 'en-us' }
  %head
    %title Siphon
    %meta{ 'http-equiv' => "content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/960.css', :media => 'screen', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/master.css', :media => 'screen', :charset => 'utf-8' }
    %script{ :src => "/javascripts/jquery.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/javascripts/siphon.js", :type => "text/javascript", :charset => "utf-8" }
    
    
    :javascript
      $(document).ready(function() {
        Siphon.load()
        Siphon.bindKeys()
      })
    
  %body
    .container_12
      #header.grid_12
        %h1 Siphon
      #content.grid_12
        %ul#items