@import url("reset.css");
@import url("text.css");

#items {
  list-style: none;
}

#items li {
  border: 1px solid #aaa;
  padding: 5px;
  font-size: 1.2em;
}

#items li.focus {
  font-size: 1.5em;
  background-color: rgb(250, 253, 210);
}

#items li.focus span.subject{
  font-size: 1.5em;
  display: block;
  font-weight: bold;
  letter-spacing: -0.1;
}

#items li.focus div.actions {
  float: right;
}

#items li.focus a.accept {
  color: #36993B;
  padding-right: 10px;
}
#items li.focus a.reject {
  color: #B81104;
}

.accepted {
  background: #D2F8B0;
}

.state {
  color: #aaa;
  padding-right: 10px;
}

h2 {
  color: #AAA;
}

h2 #count, h2 #acceptedcount, h2 #rejectedcount {
  font-size: 1.5em;
}